/* responsive file "Social media dashboard */

@media (max-width: 800px){
    body{
        max-width: 375px;
        width:98%;
        text-align: center;
        align-content: center;
        padding-left: 5px;
        padding-right: 15px;
    }

    #top-bg-pattern{
        width:375px;
    }
    #dashboard{
        padding-left: 15px;
        padding-right: 15px;
    }

    .dashboard-2 {
        max-width: 360px;
        width: 100%;
    }    
    .menu{
        display: flex;
        flex-direction: column;
    }

    .container-toggle{
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        width: 345px;
        text-align: left;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }

    .container-1{
        display: flex;
        flex-direction: column;
    }

    .block{
        margin-bottom: 20px;
    }

    .line-1{
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
        margin: 0px;
      }
    
    .line-2{
        display: flex;
        flex-direction: column;
      }
    
    .blocks-part-2{
        margin-bottom: 20px;
        margin-left: 0;
        margin-right:0;
        padding-right: 35px;
        padding-left: 35px;
    }

    .blocks-parts{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

}
